.cell {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}

.cell:before {
	content: '';
	padding-top: 100%;
}

.alive {
  background-color: black;
}

.dead {
  background-color: white;
}